body {
    margin: 1rem;
    background: rgb(211, 211, 211,0.1);
}

#add-contact{
    margin: 0.5rem;
}

#save-contact{
    margin: 0.5rem;
}

#contact-list {
    margin: 1rem;
}

.column {
    margin: 0.5rem;
}

#new-contact-form > input {
    margin: 0.5rem;
}

p {
    font-size: 1.2rem;
}

.company {
    font-style: italic;
}